:root {
    --primary-color: hsla(220, 33%, 36%, 65%);
    --primary-color-alt: hsl(28, 72%, 83%);
    --second-color: #3e537c;
    --second-color-alt: hsla(220, 33%, 36%, 65%);
    --third-color: hsl(220, 36%, 28%);
    --white-color: #fbfbfb;
    --white-color-alt: hsl(12, 14%, 93%);
    --dark-color: hsl(300, 100%, 0%);
  }

  /* ================= BASE ==================== */
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  img {
    width: 95%;
    height: auto;
  }
  .bx {
    font-size: 2.5rem;
  }
  .container {
    padding: 0 2rem;
  }

  /* -- BODY -- */
  body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background-color: var(--white-color);
  }

  /* ================= HEADER ================ */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--dark-color); */
    padding: 1rem 2rem;
  }
  .company-logo {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(
      120deg,
      var(--primary-color),
      var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav-items {
    display: flex;
  }
  .nav-item {
    margin: 0 2rem;
  }
  .nav-link {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    position: relative;
    background: -webkit-linear-gradient(
      var(--primary-color),
      var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav-link::before {
    content: "";
    background: linear-gradient(var(--primary-color), var(--primary-color-alt));
    width: 100%;
    height: 0.05rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 150ms;
  }
  .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .menu-toggle {
    display: none;
  }
  .bx-menu,
  .bx-x {
    cursor: pointer;
    background: -webkit-linear-gradient(
      120deg,
      var(--primary-color-alt),
      var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none !important;
  }

  /* ================= MAIN ================ */

  /* -------- HOME SECTION -------------- */
  .section-1 {
    background-color: var(--primary-color-alt);
    display: flex;
    border-radius: 10px;
  }
  /* .home-computer-container {} */

  .slogan .company-title {
    /* background: -webkit-linear-gradient(
      120deg,
      var(--primary-color-alt),
      var(--primary-color)
    ); */
    margin-right: 10%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--primary-color);
    margin-top: 16rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .slogan .company-slogan {
    /* background: -webkit-linear-gradient(
      120deg,
      var(--primary-color-alt),
      var(--primary-color)
    ); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--primary-color);;
    margin-top: 1rem;
    margin-right: 10%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
  }
  .home-container .home-escooter{
    margin-left: 20%;
    width: 115%;
  }

  /* -------- Startseite Body ------------- */
  
.slideshow {
    width: 80vw;
    height: 98vh;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    margin: auto;   
    margin-bottom: 40px;
    margin-top: 40px;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
}

.slide-bild {
    width: 100%;
}

.slide-textbereich {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 0 15% 0 15%;
}

.slide-ueberschrift {
    font-size: 2em;
    margin: 10px 0;
}

.slide-beschreibung {
    font-size: 1.4em;
    margin: 0;
}

.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}

.pfeil:hover {
    color: white;
}

.pfeil-links {
    left: 0;
}

.pfeil-rechts {
    right: 0;
}

.indikatorenliste {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.indikator {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 2s;
}

.aktiv {
    opacity: 1;
}
.slide-button {
  cursor: pointer;
  color: var(--white-color);
  font-size: 1.1rem;
  display: flex;
  place-items: center;
  padding-left: 1rem;
  margin: auto;
  margin-top: 35px;
  border-radius: 20px;
  width: 10rem;
  height: 3rem;
  background-image: linear-gradient(
    to top,
    var(--primary-color-alt),
    var(--primary-color)
  );
}
.slide-button:hover {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color-alt),
    var(--primary-color)
  );
}
 /* -------- Kontakt ------------- */
  .form {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form .feedback-input {
    width: 100%;
    height: 3.5rem;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .form .submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form #button-blue {
    width: 50%;
    height: 3.5rem;
    background-color: var(--primary-color-alt);
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .form #button-blue:hover {
    background-color: var(--primary-color);
  }

  /* =============== FOOTER =============== */
  .top-footer {
    background-color: var(--second-color);
    display: flex;
    flex-direction:row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
  }
  .footer-item{
    padding-left: 12%;
    padding-right: 12%;
  }
  .footer-title {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 0;
    background-image: -webkit-linear-gradient(
      120deg,
      var(--second-color-alt),
      var(--primary-color-alt)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .footer-items h3 {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: 300;
    font-size: 1.1rem;
    padding: 0.1rem 0;
    color: var(--white-color-alt);
  }
  /* .footer-social {
    display: flex;
  } */
  .footer-items a{
    color:#fbfbfb;
  }
  .footer-items h3:hover {
    text-decoration: underline;
  }
  .footer-items h3:last-child {
    padding-bottom: 2rem;
  }

  .end-footer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .copyright {
    color: var(--white-color-alt);
    padding: 1rem 0;
    font-size: 0.9rem;
  }
  .copyright b {
    font-weight: inherit;
    font-size: 0.9rem;
  }
  .designer {
    color: hsla(0, 0%, 98%, 0.541);
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  .designer:hover {
    text-decoration: underline;
  }
  /* Kontakt-Seite */
  .form {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form .feedback-input {
    width: 100%;
    height: 3.5rem;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .form .submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form #button-blue {
    width: 50%;
    height: 3.5rem;
    background-color: #00b8d4;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .form #button-blue:hover {
    background-color: #00acc1;
  }
  
  
  /* Kontakt - Email */
    /* .container{
      width: 100%;
      height: 100vh;
      background: #3e537c;
      display: flex;
      align-items: center;
      justify-content: center;
    } */
  .form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
  }
  .form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #fbfbfb;
    font-size: 16px;
  }
  .form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }  

  .map{
    height: 100%;
    width: 100%;
  }
 